.clouds-wrapper {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	width: 0;
	height: 100vh;
	margin: auto;
}

.clouds {
	width: 180px;
	display: block;
}

@media (max-width: 720px) {
	.clouds {
		width: 120px;
	}
}

.clouds img {
	display: block;
	width: 100%;
	transition: all ease 300ms;
}

#cloud1 {
	position: absolute;
	top: 10%;
}

.clouds-wrapper #cloud1 img {
	opacity: 0;
	transform: translateX(200%);
}

.clouds-wrapper.showed #cloud1 img {
	opacity: 0.4;
	transform: translateX(130%);
}

#cloud2 {
	position: absolute;
	top: 140px;
}

.clouds-wrapper #cloud2 img {
	opacity: 0;
	transform: translateX(-200%);
}

.clouds-wrapper.showed #cloud2 img {
	opacity: 0.4;
	transform: translateX(-130%);
}

#cloud3 {
	position: absolute;
	top: 530px;
}

.clouds-wrapper #cloud3 img {
	opacity: 0;
	transform: translateX(-150%);
}

.clouds-wrapper.showed #cloud3 img {
	opacity: 0.4;
	transform: translateX(0%);
}
