/*
#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
} 

#boxes .window {
  position:absolute;
  left:0;
  top:0;
  width:900px;
  height:537px;
  display:none;
  z-index:10;
  border-radius: 15px;
  text-align: center;
}
*/ 


#dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 75%;
  max-width: 985px;
  margin: auto;
  position: relative;
}



#dialog img#main-intro {
  width: 100%;
  opacity: 0;
  animation: dialog-content-anim 2s forwards;
}

#dialog img#my-name {
  position: absolute;
  width: 100%;
  opacity: 0;
  animation: dialog-content-anim 2s 1s forwards;
}

@keyframes dialog-content-anim {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}